<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bookmark.bookmark_oneday">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name=".app.DefaultApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookmarkOneday"
        tools:targetApi="33">

        <activity android:name=".presentation.screens.splash.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.screens.intro.IntroActivity"/>
        <activity android:name=".presentation.screens.home.HomeActivity"/>
        <activity android:name=".presentation.screens.book_recognition.BookRecognitionActivity"/>
        <activity android:name=".presentation.screens.timer.TimerActivity"/>
        <activity android:name=".presentation.screens.book_confirmation.BookConfirmationActivity"/>
        <activity android:name=".presentation.screens.signup.SignupBaseActivity"/>
        <activity android:name=".presentation.screens.write_today_oneline.WriteTodayOnelineActivity"/>
        <activity android:name=".presentation.screens.modify_profile.ModifyProfileActivity"/>
        <activity android:name=".presentation.screens.modify_reading_time.ModifyReadingTimeActivity"/>
        <activity android:name=".presentation.screens.set_alarm.SetAlarmActivity"/>
        <activity android:name=".presentation.screens.book_confirmation_oneline.BookConfirmationFromOnelineActivity"/>

        <receiver android:name=".presentation.alarm.AlarmReceiver" android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".presentation.screens.timer.TimerService"/>
    </application>

</manifest>